<div class="action-fab large">
  <button class="fab large ripple">
    <i class="fa fa-bars"></i>
  </button>

  {{! Add intents here. 'intent' class opens popup }}
  {{! data params set popup width and height       }}

  <div class="actions">
    <a class="aboutmenu fab ripple"
      href="{{@blog.url}}/infozxy">
      <i class="fa fa-cogs"></i>
    </a>
  </div>
</div>
